* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
  justify-content: center;

}



/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  padding: 1rem;
  margin: 10px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(1, 142, 183, 1) 38%, rgba(0, 212, 255, 1) 100%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* position: relative; */
}


@media only screen and (max-width: 521px) {
  .header {
    background: #3cde6a;
    font-size: small;
    padding: 10px;
  }
}

ul {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 5px;
  background-color: antiquewhite;

}

li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
  color: #333;

  text-decoration: none;
  color: #333;
  font-size: 16px;
  margin: 0 10px;


}

li:hover {
  font-size: large;
  background-color: #555;
  color: #f9f0ad;
  box-shadow: 15px #3cde6a;
}




.container {
  gap: 90px;
  margin: 20px;
  display: flex;
}

.site-title {
  font-size: 3rem;
  font-weight: bold;
}

.site-title a {
  color: bisque;
  text-decoration: none;

}

.left-box {
  width: 50%;

}

.joturo {
  position: relative;
  margin-bottom: 20px;

}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 5px solid #fff;
  /* display: block; */

}

.text {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 521px) {
  .text {
    font-size: smaller;
  }
}

#review {

  text-align: left;
}

#reveiw-title {
  font-size: 2rem;
}

#reveiw {
  font-weight: bold;
}


.right-box {
  background-color: rgb(232, 231, 222);
  box-shadow: #333 10px;
  position: absolute;
  width: 30rem;
  right: 20px;
}




.other-movies {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;

}

.other-movies p {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;

}

.other-movies ul {
  list-style: none;
  padding: 0;
}

.other-movies li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 1rem 10px;
  padding: 1rem;
  height: 5rem;
  /* width: 25rem; */
  background-color: #f5f5f5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 10px #f29191;
  border-radius: 5px;
}

.other-movies li:hover {
  background-color: #ccc;
}

.other-movies li a {
  color: #333;
  text-decoration: none;
}

.other-movies li a:hover {
  color: #000;
}

.imdb-box {
  box-sizing: border-box;
  background-color: #f3ce13;
  border-radius: 5px;
}

.Imdb {
  font-size: 1rem;
  color: #333;
  text-decoration: none;
  margin: 5px;
  font-weight: bolder;
}

.Imdb:hover {
  color: #f90;

}

@media only screen and (max-width: 600px) {
  .right-box {
    font-size: smaller;
    width: 50%;
  }

  .other-movies {
    position: relative;
  }

  .other-movies p {position: relative;}

  .other-movies ul {position: relative;}

  .other-movies li {position: relative;
    width: 20rem;
  }

  .imdb-box {position: relative;}

  .Imdb {position: relative;}

}